<!DOCTYPE html>
<html>
<head>
	<link rel ="stylesheet" href="/stylesheets/toggleTest.css" />
	<link rel ="stylesheet" href="/stylesheets/bootstrap_original.css" />
    <link rel ="stylesheet" href="/stylesheets/style.css" />
    <link rel ="stylesheet" href="/stylesheets/bootstrap-iso_original.css" />

</head>
<style>
#modal-form{
	margin-left: 5%;
	margin-right: 5%;
}
.asteriskField{
	font-weight: bold;
	color: red;
}
.divider{
    width:100px;
    height:auto;
    display:inline-block;
}
</style>
<body>
  <div id="page-body">
    {{{body}}}
  </div>
</body>
</html>