<!DOCTYPE html>
<html>
<head>
	<link rel ="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel ="stylesheet" href="/stylesheets/style.css" />
    <link rel ="stylesheet" href="/stylesheets/bootstrap-iso.css" />
</head>
<style>
#modal-form{
	margin-left: 5%;
	margin-right: 5%;
}

</style>
<body>
  <div id="page-body">
    {{{body}}}
  </div>
</body>
</html>