<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin</title>
    <link rel="stylesheet" href="/stylesheets/edit_account.css">
    <script src="/javascripts/themes.js"></script>
</head>
<body id = "account_background">
    <div class = "container">
        <div class = "theme-menu">
            <div class = "name"><a href="#"><span class="glyphicon glyphicon-adjust"></span></a></div>
            <div class="close-menu"><a href="#">X</a></div>
            <div id = "theme-list">
                <div class = "item"><span class="default"><a href="#">Default</a></span></div>
                <div class = "item"><span class="monokai"><a href="#">Cherry Ossom</a></span></div>
                <div class = "item"><span class="blue"><a href="#">Blue My Mind</a></span></div>
                <div class = "item"><span class="teal"><a href="#">Teal I Die</a></span></div>
                <div class = "item"><span class="gray"><a href="#">Grayvy</a></span></div>
            </div>
        </div>
    </div>
    <div class="bio">
        <div id="name">Account Settings</div>
    </div>
    <div style="color: #CBCBCB; margin-left: 100px;">
        <div><p1 style="font-size: 18pt;">Things to implement</p3></div>
        <ol>
            <li>Edit Name</li>
            <li>Change Email
            <li>Change Password</li>
            <li>Change Profile Picture</li>
        </ol>
    </div>
    <div>
        <br>
        <br>
        <form method="post" action="/api/users/delete">
            <button style="margin-left: 50px; font-size: 18pt; border-radius: 5px;" type="submit" >Delete Account</button>
        </form>
    </div>

    <script src="/javascripts/themes.js"></script>

</body>
</html>