<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin</title>
    <link rel="stylesheet" href="/stylesheets/edit_account.css">
    <script src="/javascripts/themes.js"></script>
</head>
<body id = "account_background">
    <div class = "container">
        <div class = "theme-menu">
            <div class = "name"><a href="#"><span class="glyphicon glyphicon-adjust"></span></a></div>
            <div class="close-menu"><a href="#">X</a></div>
            <div id = "theme-list">
                <div class = "item"><span class="default"><a href="#">Default</a></span></div>
                <div class = "item"><span class="monokai"><a href="#">Cherry Ossom</a></span></div>
                <div class = "item"><span class="blue"><a href="#">Blue My Mind</a></span></div>
                <div class = "item"><span class="teal"><a href="#">Teal I Die</a></span></div>
                <div class = "item"><span class="gray"><a href="#">Grayvy</a></span></div>
            </div>
        </div>
    </div>
    <script src="/javascripts/themes.js"></script>
</body>
</html>