<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel ="stylesheet" href="/stylesheets/bootstrap.css" />
</head>
<body id = "profile_background">
	<div class="bio">
		<div id="name">Account Settings</div>
	</div>
	<div style="color: #CBCBCB; margin-left: 100px;">
		<div><p1 style="font-size: 18pt;">Things to implement</p3></div>
		<ol>
			<li>Edit Name</li>
			<li>Change Email
			<li>Change Password</li>
			<li>Change Profile Picture</li>
		</ol>
	</div>
	<div>
		<br>
		<br>
		<form method="post" action="/api/users/delete">
			<button style="margin-left: 50px; font-size: 18pt; border-radius: 5px;" type="submit" >Delete Account</button>
		</form>
	</div>

</body>
</html>