<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/root.css">
</head>
<body id = "home_background">
    <div class="layer_transparency">
        <div id = "pinpin">
            <div class="box">404</div>
        </div>
        <div class = "home_motto">GTFO</div>
    </div>
</body>
</html>