<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <script src="/javascripts/Controllers/ctrlFeed.js"></script>
<style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
</style>
</head>
<body id = "feed_background" ng-controller="ctrlFeed" ng-init=init()>
<div class="container">
    <div class="masonry" ng-cloak>
        <div class = "item" ng-repeat="pin in pins" ng-show="initialized" ng-cloak>
            <span class="image-area">
                <span class="pin-pin-clicked"></span>
                <div class="pin-pin"><img style="width: 40px" src="/images/push-pin.png"></div>
                <img src="<% pin.URL %>" ng-cloak>
            </span>
            <div class="pin-uploader">
                <span class="uploader-photo"><img style="width: 200%" ng-cloak></span>
                <span class="uploader-name"><% pin.FirstName + ' ' + pin.LastName %></span>
                <span class="follow-uploader">Follow</span>
            </div>
            <div class="item-options">
                <div class="option-element"><span class="glyphicon glyphicon-pushpin"></span></div>
                <div class="option-element"><span class="glyphicon glyphicon-book"></span></div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/feed.js"></script>
</body>
</html>