<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <!-- <script src="/javascripts/Controllers/ctrlFeed.js"></script> -->
</head>
<body id = "feed_background">
<div class="container">
    <div class="masonry">

    

<!--         <div class = "item" ng-repeat="pin in pins">
            <div class="item-options">
                <div class="save-pin"><span class="glyphicon glyphicon-pushpin"></span></div>
                <div class="pin-pin"><span class="glyphicon glyphicon-pushpin"></span><span class="glyphicon glyphicon-pushpin"></span></div>
                <div class="view-board"><span class="glyphicon glyphicon-book"></span></div>
            </div>
            <img src="<% pin.URL %>">
            <div class="pin-uploader">
                <span class="uploader-photo"><img style="width: 200%"></span>
                <span class="uploader-name"><% pin.FirstName + ' ' + pin.LastName %></span>
                <span class="follow-uploader">Follow</span>
            </div>
        </div> -->

    </div>
</div>
</body>
</html>