<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body id = "feed_background">
<div class="container">
    <div id="columns">
        <figure>
            <img src="https://static.pexels.com/photos/23049/pexels-photo.jpg">
            <figcaption>Mountains</figcaption>
        </figure>

        <figure>
            <img src="http://www.telegraph.co.uk/content/dam/Travel/galleries/travel/activityandadventure/The-worlds-most-beautiful-mountains/mountains-stetind_3374095a-xlarge.jpg">
            <figcaption>More Mountains</figcaption>
        </figure>

        <figure>
            <img src="http://wallpaper-gallery.net/images/portrait-wallpaper/portrait-wallpaper-20.jpg">
            <figcaption>Rad Car</figcaption>
        </figure>

        <figure>
            <img src="http://media.idownloadblog.com/wp-content/uploads/2016/04/iPhone-wallpaper-abstract-portrait-city-macinmac.jpg">
            <figcaption>Street</figcaption>
        </figure>

        <figure>
            <img src="http://www.telegraph.co.uk/content/dam/Travel/galleries/travel/activityandadventure/The-worlds-most-beautiful-mountains/mountains-stetind_3374095a-xlarge.jpg">
            <figcaption>More Mountains</figcaption>
        </figure>
        <figure>
            <img src="http://www.telegraph.co.uk/content/dam/Travel/galleries/travel/activityandadventure/The-worlds-most-beautiful-mountains/mountains-stetind_3374095a-xlarge.jpg">
            <figcaption>More Mountains</figcaption>
        </figure>

        <figure>
            <img src="http://wallpaper-gallery.net/images/portrait-wallpaper/portrait-wallpaper-20.jpg">
            <figcaption>Rad Car</figcaption>
        </figure>

        <figure>
            <img src="http://media.idownloadblog.com/wp-content/uploads/2016/04/iPhone-wallpaper-abstract-portrait-city-macinmac.jpg">
            <figcaption>Street</figcaption>
        </figure>

        <figure>
            <img src="http://www.telegraph.co.uk/content/dam/Travel/galleries/travel/activityandadventure/The-worlds-most-beautiful-mountains/mountains-stetind_3374095a-xlarge.jpg">
            <figcaption>More Mountains</figcaption>
        </figure>
    </div>
</div>
</body>
</html>