<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin </title>
    <link rel="stylesheet" href="/stylesheets/following.css">
    <script src="/javascripts/Controllers/ctrlFollowing.js"></script>
</head>
<body id = "following_background" ng-controller="ctrlFollowing" ng-init="init()">

    <div class="follow">
        <div class="section group" ng-repeat="following in followings">
            <div class="grid-row">
                <div class="col span_1_of_2">
                        <img ng-src="<% following.ProfilePicture || '/images/user5.png' %>" ng-cloak class="profile-photo">
                        <div class="user-name"><% following.FirstName + ' ' + following.LastName %></div>
                </div>
                <div class="col span_1_of_2">
                    <div class="unfollow-button" ng-click="unfollow(following.FollowingUserKey, $index)">Unfollow</div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/home.js"></script>
</body>
</html>
