<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="/javascripts/Services/ImageService.js"></script>
</head>
<style>
.user-summary{
	font-size: 18pt;
	margin-left: 3%;
}
.panel-headings{
	/*margin-left: 135px;
	margin-top: 0%;*/
}
.exp-title{

}
.experience-block{
	margin-left: 1%;
}
.experience{
	/*margin-right: 40%;*/
}
.summary{
	
}
#sum-item{
	font-size: 10pt;
	/*margin-left: 90%;*/
}
#sum-data{
	font-size: 10pt;
	/*padding-left: 8%;*/
}
#block-btn-edit{
	text-align: center;
	font-size: 9pt;
	height: 27px;
	width: 100px;
	display: table-cell;
	vertical-align: middle;
}
.profile-summary-block{
	margin-left: 1%;
	margin-top: 20px;
}
.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}

.custom-panel-footer{
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  /*position:absolute;bottom:0;width:90%;*/
  border-color: #ddd;
}
.endorse-item-name{

}
.panel-heading-custom{
	height: 40px;
	font-weight: bold;
}
.text-custom{
	color: #a94442;
	font-size: 14pt
}
</style>

<body>
	<header></header>
	<h2>Welcome {{userFirstName}}!</h2>

	<footer></footer>

</body>
</html>