<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin </title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/loader.css">
    <script src="/javascripts/Controllers/ctrlHome.js"></script>
</head>

<!--initial loading board-->
{{#if logincheck}}
    <div class = "loading-board">
        <div class = "wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
            <span class="loader-text">Welcome {{userFirstName}}!</span>
        </div>
    </div>
    <script>
        $(".loading-board").delay(5000).fadeOut(400);
    </script>
{{/if}}


<body id = "profile_background" ng-controller="ctrlHome" ng-init="init()">

    <!--showing all boards-->
    <div id = "sliding-wall">
        <div id = "close-show"><span class="glyphicon glyphicon-remove-circle"></span></div>
        <div class="title-secondary-boards">
            BOARDS
            <div id="underline"></div>
        </div>
        <div class="filter-buttons">
            <span class="f-b-wrapper" id="all" ng-click="changeBoardFilter('all')">All</span>
            <span class="f-b-wrapper" id="public" ng-click="changeBoardFilter('public')">Public</span>
            <span class="f-b-wrapper" id="private" ng-click="changeBoardFilter('private')">Private</span>
        </div>
        <div class = "boards-wrapper">
        <div class="container">
            <div class="container-box" ng-show="boardFilter == 'all'">
                <div style="display: inline-block"><div class="element"><span class="glyphicon glyphicon-plus-sign" ng-click="openBoardFormModal('md', {BoardKey: 0},-1)" ></span></div></div>

                <span id="all-boards">
                    <div style="display: inline-block" ng-repeat="board in boards">
                        <div class="element board-wrapper" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-click="redirect('/users/boards/' + board.BoardKey + '/' + board.Name)">
                            <div class="element-title">
                                <span id="text"><%board.Name%></span>
                            </div>
                            <img class="board-view" ng-src="<%board.URL || 'http://i.imgur.com/Fx6BGlt.jpg'%>">
                            <div class="shadow-wrapper"></div>
                            <div class="element-edit" ng-show="options" ng-click="openBoardFormModal('md', board, $index)"><span class="glyphicon glyphicon-edit"></span></div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="container-box" ng-show="boardFilter == 'public'">
                <div style="display: inline-block"><div class="element"><span class="glyphicon glyphicon-plus-sign" ng-click="openBoardFormModal('md', {BoardKey: 0},-1)" ></span></div></div>

                <span id="all-boards">
                    <div style="display: inline-block" ng-repeat="board in boards">
                        <div class="element board-wrapper" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-show="!board.Private" ng-click="redirect('/users/boards/' + board.BoardKey + '/' + board.Name)" >
                            <div class="element-title">
                                <span id="text"><%board.Name%></span>
                            </div>
                            <img class="board-view" ng-src="<%board.URL || 'http://i.imgur.com/Fx6BGlt.jpg'%>">
                            <div class="shadow-wrapper"></div>
                            <div class="element-edit" ng-show="options" ng-click="openBoardFormModal('md', board, $index)"><span class="glyphicon glyphicon-edit"></span></div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="container-box" ng-show="boardFilter == 'private'">
                <div style="display: inline-block"><div class="element"><span class="glyphicon glyphicon-plus-sign" ng-click="openBoardFormModal('md', {BoardKey: 0},-1)" ></span></div></div>

                <span id="all-boards">
                    <div style="display: inline-block" ng-repeat="board in boards">
                        <div class="element board-wrapper" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-show="board.Private" ng-click="redirect('/users/boards/' + board.BoardKey + '/' + board.Name)">
                            <div class="element-title">
                                <span id="text"><%board.Name%></span>
                            </div>
                            <img class="board-view" ng-src="<%board.URL || 'http://i.imgur.com/Fx6BGlt.jpg'%>">
                            <div class="shadow-wrapper"></div>
                            <div class="element-edit" ng-show="options" ng-click="openBoardFormModal('md', board, $index)"><span class="glyphicon glyphicon-edit"></span></div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        </div>
    </div>
    <!--showing all pins-->
    <span class="pin-wrapper">
    <div id = "sliding-wall">
        <div id = "close-show"><span class="glyphicon glyphicon-remove-circle"></span></div>
        <div class="title-secondary-pins">
            PINS
            <div id="underline"></div>
        </div>
        <div class = "pin-wrapper-2">
        <div class="container">
        <div class="container-box">
            <a ng-click="addPin('sm')"><div class="element"><span class="glyphicon glyphicon-plus-sign"></span></div></a>
            <span class="pins-block">
                <span ng-repeat="pin in pins">
                    <div class="element-pin" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-click="viewPin(pin)">
                        <img ng-src="<% pin.URL %>"/>
                    </div>
                </span>
                <script>
                    $('.element-pin img').each(function(_, img) {
                        var $this = $(this);

                        if( $this.height() / $this.width() < 0.6666666666666667 ) {
                            $this.css({
                                height: '220px',
                                maxWidth: 'none'
                            });
                        }
                    });
                </script>
            </span>
        </div>
    </div>
    </div>
    </div>
    </span>

    <!--Profile info-->
    <div class="section group bio">
        <div class="col span_1_of_2">
            <div id="profile_photo">
                <img ng-src="<% user.ProfilePicture || '/images/user5.png' %>" ng-cloak id="profile_photo">
            </div>
            <div id="name">{{userFirstName}} {{userLastName}} </div>
        </div>
        <div class="col span_1_of_2">
            <div class="follow-detail">
                <div class="col span_1_of_2 align-right">Followers</div><div class="col span_1_of_2 follow-number-style" ng-cloak><% followers.length %></div>
            </div>
            <div class="follow-detail">
                <div class="col span_1_of_2 align-right" ng-click="redirect('/users/following')">Following</div><div class="col span_1_of_2 follow-number-style" ng-cloak><% followings.length %></div>
            </div>
            <div class="follow-detail">
                <div class="follow-button">
                    <span style="font-size: 12px">If viewing other user's profile.</span><br>
                    Follow
                </div>
            </div>
        </div>
    </div>


    <!--Boards-->
    <div class="container">
        <div class="title">
            BOARDS (<%boards.length%>)
            <div id="show-all-listener"><span id="boards">VIEW ALL</span></div>
        </div>
        <div class="container-box">
            <div style="display: inline-block"><div class="element"><span class="glyphicon glyphicon-plus-sign" ng-click="openBoardFormModal('md', {BoardKey: 0},-1)" ></span></div></div>
            <div style="display: inline-block" ng-repeat="board in boards|limitTo:3">
                <div class="element board-wrapper" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-click="redirect('/users/boards/' + board.BoardKey + '/' + board.Name)">
                    <div class="element-title">
                        <span id="text"><%board.Name%></span>
                    </div>
                    <img class="board-view" ng-src="<%board.URL || 'http://i.imgur.com/Fx6BGlt.jpg'%>">
                    <div class="shadow-wrapper"></div>
                    <div class="element-edit" ng-show="options" ng-click="openBoardFormModal('md', board, $index)"><span class="glyphicon glyphicon-edit"></span></div>
                </div>
            </div>
        </div>
    </div>

    <!--Pins-->
    <div class="container">
        <div class="title">
            <a href="#">PINS (<%pins.length%>)</a>
            <div id="show-all-listener"><span id="pins">VIEW ALL</span></div>
        </div>
        <div class="container-box">
            <a ng-click="addPin('sm')"><div class="element"><span class="glyphicon glyphicon-plus-sign"></span></div></a>
            <span class="pins-block">
                <span ng-repeat="pin in pins|limitTo:3">
                    <div class="element-pin" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-click="viewPin(pin)">
                        <img ng-src="<% pin.URL %>"/>
                    </div>
                </span>
                <script>
                    $('.element-pin img').each(function(_, img) {
                        var $this = $(this);

                        if( $this.height() / $this.width() < 0.6666666666666667 ) {
                            $this.css({
                                height: '220px',
                                maxWidth: 'none'
                            });
                        }
                    });
                </script>
            </span>
        </div>
    </div>

    <script src="/javascripts/home.js"></script>
</body>
</html>
