<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="/javascripts/Controllers/ctrlBoards.js"></script>
</head>
<body id = "profile_background">
<div class = "bar-left"></div>

    <div class="bio">
        <div id="profile_photo"></div>
        <div id="name">{{userFirstName}} {{userLastName}}</div>
    </div>
    <div class="container" ng-controller="ctrlBoards">
        <div class="title">
            <a href="#">BOARDS (<%boards.length%>)</a>
        </div>
        <div class="container-box">
            <a href="#"><div class="element"><span class="glyphicon glyphicon-plus-sign" ng-click="openBoardFormModal('md', {BoardKey: 0},-1)" ></span></div></a>
            <a href="#" ng-repeat="board in boards">
                <div class="element" ng-mouseenter="options=true" ng-mouseleave="options=false">
                    <div class="element-title">
                        <%board.Name%>
                    </div>
                    <div>
                        <button class="element-edit" ng-show="options" ng-click="openBoardFormModal('md', board, $index)">Edit</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="title">
            <a href="#">PINS (#)</a>
        </div>
        <div class="container-box">
            <a href="#"><div class="element"><span class="glyphicon glyphicon-plus-sign"></span></div></a>
            <div class="element"></div>
            <div class="element"></div>
            <div class="element"></div>
        </div>
    </div>

</body>
</html>
