<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin </title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/loader.css">
    <script src="/javascripts/Controllers/ctrlHome.js"></script>
</head>

<!--initial loading board-->
{{#if logincheck}}
    <div class = "loading-board">
        <div class = "wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
            <span class="loader-text">Welcome {{userFirstName}}!</span>
        </div>
    </div>
    <script>
        $(".loading-board").delay(5000).fadeOut(400);
    </script>
{{/if}}


<body id = "profile_background" ng-controller="ctrlHome">

    <!--showing all boards-->
    <div id = "show-boards">
        <div id = "close-show"><span class="glyphicon glyphicon-remove-circle"></span></div>
        <div class="title-secondary">
            BOARDS
            <div id="underline"></div>
        </div>
        <div class="filter-buttons">
            <span class="f-b-wrapper" id="all">All</span>
            <span class="f-b-wrapper" id="public">Public</span>
            <span class="f-b-wrapper" id="private">Private</span>
        </div>
        <div class = "boards-wrapper">
        <div class="container">
            <div class="container-box">
                <a href="#"><div class="element"><span class="glyphicon glyphicon-plus-sign" ng-click="openBoardFormModal('md', {BoardKey: 0},-1)" ></span></div></a>

                <span id="all-boards">
                    <a href="#" ng-repeat="board in boards">
                        <div class="element" ng-mouseenter="options=true" ng-mouseleave="options=false">
                            <div class="element-title">
                                <%board.Name%>
                            </div>
                            <div>
                                <div class="element-edit" ng-show="options" ng-click="openBoardFormModal('md', board, $index)"><span class="glyphicon glyphicon-edit"></span></div>
                            </div>
                        </div>
                    </a>
                </span>

                <span id="public-boards">
                    public boards go here
                </span>

                <span id="private-boards">
                    private boards go here<!--<br>add button's form here can have the private boolean set to true since it is under "private" section?-->
                </span>
            </div>
        </div>
        </div>
    </div>

    <!--Profile info-->
    <div class="bio">
        <div id="profile_photo">
                    
        </div>
        <div id="name">{{userFirstName}} {{userLastName}}</div>
    </div>

    <!--Boards-->
    <div class="container">
        <div class="title">
            BOARDS (<%boards.length%>)
            <div id="board-listener">VIEW ALL</div>
        </div>
        <div class="container-box">
            <div style="display: inline-block"><div class="element"><span class="glyphicon glyphicon-plus-sign" ng-click="openBoardFormModal('md', {BoardKey: 0},-1)" ></span></div></div>
            <div style="display: inline-block" ng-repeat="board in boards|limitTo:3">
                <div class="element board-wrapper" ng-mouseenter="options=true" ng-mouseleave="options=false">
                    <div class="element-title">
                        <span id="text"><%board.Name%></span>
                    </div>
                    <img class="board-view" ng-src="<%board.URL || 'http://i.imgur.com/Fx6BGlt.jpg'%>">
                    <div class="shadow-wrapper"></div>
                    <div class="element-edit" ng-show="options" ng-click="openBoardFormModal('md', board, $index)"><span class="glyphicon glyphicon-edit"></span></div>
                </div>
            </div>
        </div>
    </div>

    <!--Pins-->
    <div class="container">
        <div class="title">
            <a href="#">PINS (<%pins.length%>)</a>
        </div>
        <div class="container-box">
            <a ng-click="addPin('sm')"><div class="element"><span class="glyphicon glyphicon-plus-sign"></span></div></a>
            <span id="pins-block">
                <span ng-repeat="pin in pins|limitTo:3">
                    <div class="element-pin" ng-mouseenter="options=true" ng-mouseleave="options=false">
                        <img ng-src="<% pin.URL %>"/>
                    </div>
                </span>
                <script>
                    $('.element-pin img').each(function(_, img) {
                        var $this = $(this);

                        if( $this.height() / $this.width() < 0.6666666666666667 ) {
                            $this.css({
                                height: '220px',
                                maxWidth: 'none'
                            });
                    });
                </script>
            </span>
        </div>
    </div>

    <script src="/javascripts/home.js"></script>
</body>
</html>
