<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinPin </title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/loader.css">
    <script src="/javascripts/Controllers/ctrlHome.js"></script>
</head>

<body id = "profile_background" ng-controller="ctrlHome" ng-init="init({{userKey}})">

    <!--showing all boards-->
    <div id = "sliding-wall">
        <div id = "close-show"><span class="glyphicon glyphicon-remove-circle"></span></div>
        <div class="title-secondary-boards">
            BOARDS
            <div id="underline"></div>
        </div>

        <div class = "boards-wrapper">
        <div class="container">
            <div class="container-box">
                
                <span id="all-boards">
                    <div style="display: inline-block" ng-repeat="board in boards">
                        <div class="element board-wrapper" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-show="board.Private == 0">
                            <div class="element-title">
                                <span id="text"><%board.Name%></span>
                            </div>
                            <img class="board-view" ng-src="<%board.URL || 'http://i.imgur.com/Fx6BGlt.jpg'%>">
                            <div class="shadow-wrapper" ng-click="redirect('/users/boards/' + board.BoardKey + '/' + board.Name)" ng-cloak></div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        </div>
    </div>
    <!--showing all pins-->
    <span class="pin-wrapper">
    <div id = "sliding-wall">
        <div id = "close-show"><span class="glyphicon glyphicon-remove-circle"></span></div>
        <div class="title-secondary-pins">
            PINS
            <div id="underline"></div>
        </div>
        <div class = "pin-wrapper-2">
        <div class="container">
        <div class="container-box">
            
            <span class="pins-block">
                <span ng-repeat="pin in pins">
                    <div class="element-pin" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-click="viewPin(pin)">
                        <img ng-src="<% pin.URL %>"/>
                    </div>
                </span>
                <script>
                    $('.element-pin img').each(function(_, img) {
                        var $this = $(this);

                        if( $this.height() / $this.width() < 0.6666666666666667 ) {
                            $this.css({
                                height: '220px',
                                maxWidth: 'none'
                            });
                        }
                    });
                </script>
            </span>
        </div>
    </div>
    </div>
    </div>
    </span>

    <!--Profile info-->
    <div class="section group bio">
        <div class="col span_1_of_2">
            <div id="profile_photo">
                <img ng-src="<% user.ProfilePicture || '/images/user5.png' %>" ng-cloak id="profile_photo">
            </div>
            <div id="name"><% user.FirstName + ' ' + user.LastName %> </div>
        </div>
        <div class="col span_1_of_2">
            <div class="follow-detail">
                <a ng-href="<% '/users/followers/' + user.UserKey %>"><div class="col span_1_of_2 align-right">Followers</div><div class="col span_1_of_2 follow-number-style" ng-cloak><% followers.length %></div></a>
            </div>
            <div class="follow-detail">
                <a ng-href="<% '/users/following/' + user.UserKey %>"><div class="col span_1_of_2 align-right">Following</div><div class="col span_1_of_2 follow-number-style" ng-cloak><% followings.length %></div></a>
            </div>
            <div class="follow-detail">
                <div class="follow-button" ng-click="follow(user.UserKey)" ng-hide="friend.length > 0" ng-cloak>
                    <span style="font-size: 12px"></span>
                    Follow
                </div>
                <div class="follow-button" ng-click="unfollow(user.UserKey)" ng-show="friend.length > 0" ng-cloak>
                    <span style="font-size: 12px"></span>
                    Unfollow
                </div>
            </div>
        </div>
    </div>


    <!--Boards-->
    <div class="container">
        <div class="title">
            BOARDS (<%boards.length%>)
            <div id="show-all-listener"><span id="boards">VIEW ALL</span></div>
        </div>
        <div class="container-box">
            <div style="display: inline-block" ng-repeat="board in boards|limitTo:3">
                <div class="element board-wrapper" ng-mouseenter="options=true" ng-mouseleave="options=false">
                    <div class="element-title">
                        <span id="text"><%board.Name%></span>
                    </div>
                    <img class="board-view" ng-src="<%board.URL || 'http://i.imgur.com/Fx6BGlt.jpg'%>">
                    <div class="shadow-wrapper" ng-click="redirect('/users/boards/' + board.BoardKey + '/' + board.Name)"></div>
                </div>
            </div>
        </div>
    </div>

    <!--Pins-->
    <div class="container">
        <div class="title">
            <a href="#">PINS (<%pins.length%>)</a>
            <div id="show-all-listener"><span id="pins">VIEW ALL</span></div>
        </div>
        <div class="container-box">
            <span class="pins-block">
                <span ng-repeat="pin in pins|limitTo:3">
                    <div class="element-pin" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-click="viewPin(pin)">
                        <img ng-src="<% pin.URL %>"/>
                    </div>
                </span>
                <script>
                    $('.element-pin img').each(function(_, img) {
                        var $this = $(this);

                        if( $this.height() / $this.width() < 0.6666666666666667 ) {
                            $this.css({
                                height: '220px',
                                maxWidth: 'none'
                            });
                        }
                    });
                </script>
            </span>
        </div>
    </div>

    <script src="/javascripts/home.js"></script>
</body>
</html>
