*{
    margin: 0;
    padding: 0;
}

#feed_background{
    background-color: var(--primary);
    opacity: 1;

    -webkit-animation: fadein 1s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s ease; /* Firefox < 16 */
    animation: fadein 1s ease;
}

#feed_background .container{
    margin: auto;
    max-width: 1200px;
}

.masonry {
    column-count: 4;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    column-gap: 25px;
    margin: 35px 0;
    position: relative;
}

.masonry .item{
    position: relative;
    display: inline-block;
    border: solid 1px var(--primary-dark1);
    outline: none;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.masonry .item img{
    width: 100%;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 10px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 18px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 18px -4px rgba(0,0,0,0.75);
}

.masonry .item:hover{
    -webkit-box-shadow: 0px 5px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 17px -1px rgba(0,0,0,0.75);
}

.masonry .item .shadow-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--primary);
    transition: all 0.1s ease-in-out;
}

.masonry .item:hover .shadow-wrapper{
    opacity: 0.5;
}

.masonry .item .item-options{
    display: block;
    float: right;
    font-size: 14px;
    color: var(--secondary-bright);
    background-color: var(--primary-dark1);
    box-sizing: border-box;
    z-index: 2;
    width: 100%;
    transition: all 0.3s ease-in-out;
    text-align: center;
    padding: 5px 5px;
}

.masonry .item .option-element{
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    width: 40%;
    height: 25px;
    padding: 5px 0;
    text-align: center;
    transition: all 0.1s ease-in;
}

.masonry .item .option-element:hover{
    background-color: var(--primary);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.masonry .item .image-area{
    box-sizing: border-box;
    height: auto;
    width: 100%;
}

.masonry .item .image-area .pin-pin{
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    padding: 8px;
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.5);
    border: solid 1px #000;
    border-radius: 30px;
    font-size: 22px;
    margin:auto;
    top:0;
    bottom:80px;
    left:0;
    right:0;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.masonry .item .image-area:hover .pin-pin{
    opacity: 0.5;
    filter: blur(1px);
}

.masonry .item .image-area .pin-pin:hover{
    opacity: 0.9;
    filter: blur(0);
}

.masonry .item .image-area .pin-pin-clicked{
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    width: 62px;
    height: 62px;
    border: solid 1px var(--secondary);
    border-radius: 30px;
    margin:auto;
    top:0;
    bottom:80px;
    left:0;
    right:0;
    opacity: 0;
}

.masonry .item .pin-uploader{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: var(--primary-light);
    color: var(--gray-white);
}

.pin-uploader .uploader-photo{
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-left: 3px;
    border-radius: 40px;
    border: solid 1px;
    float: left;
    position: relative;

}

.pin-uploader .uploader-photo img{
    width: 40px !important;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.pin-uploader .uploader-name{
    display: inline-block;
    margin-top: 10px;
    margin-left: 8px;
    letter-spacing: 1px;
    font-size: 14px;
}

.pin-uploader .follow-uploader{
    float: right;
    display: block;
    margin-top: 7px;
    border: solid 1px;
    cursor: pointer;
    margin-right: 8px;
    padding: 5px;
    font-size: 12px;
    color: var(--secondary);
    opacity: 0.9;
}

.pin-uploader .follow-uploader:hover{
    cursor: pointer;
    background-color: var(--primary-dark1);
    opacity: 1;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 100px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
