<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}

#profile_background{
    background-color: var(--primary);
    opacity: 1;
    width: 100%;

    -webkit-animation: fadein 1s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s ease; /* Firefox < 16 */
    animation: fadein 1s ease;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#profile_background .bio{
    display: block;
    margin: auto;
    height: 350px;
    margin-bottom: 40px;
    padding-top: 50px;
    background-color: var(--gray-white);
    -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
    color: var(--primary);
}


/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 47.5%;
    box-sizing: border-box;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}

.bio #profile_photo{
    height: 170px;
    width: 170px;
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    border-radius: 100px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

.bio #name{
    display: block;
    position: absolute;
    height: 40px;
    width: inherit;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
}

.bio .follow-detail{
    display: block;
    height: 40px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.bio .follow-detail:hover .follow-number-style{
    border-color: var(--secondary);
}

.align-right{
    text-align: right;
}

.follow-number-style{
    padding-left: 15px;
    border-left: solid 1px;
    transition: all 0.2s;
}

.follow-detail .follow-button{
    margin: auto;
    margin-top: 60px;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 10px;
    width: 47.5%;
    text-align: center;
    border: solid 1px var(--secondary);
    transition: all 0.2s;
}

.follow-detail .follow-button:hover{
    border-color: var(--primary-dark2);
}

#profile_background .container{
    display: block;
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

.container .title{
    height: 25px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    border-bottom: solid 1px;
    font-size: 18px;
    color: var(--secondary);
    letter-spacing: 5px;
}

.title a{
    color: inherit;
    text-decoration: none !important;
}

.container .container-box{
    display: block;
    box-sizing: border-box;
    width: 960px;
    margin: auto;
}

.container-box .element{
    cursor: default;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    height: 220px;
    width: 220px;
    margin: 5px 7px;
    background-color: var(--primary-light);
    font-size: 140px;
    text-align: center;
    overflow: hidden;
    color: var(--primary-dark2);
    box-shadow: 0 2px 5px 0 #000;
    transition: all 0.3s ease-in-out;
}

.element .shadow-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--primary);
    transition: all 0.1s ease-in-out;
}

.element:hover .shadow-wrapper{
    opacity: 0.2;
}

.element-title{
    border-top: solid 10px rgba(0,0,0,0.4);
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    font-size: 20px;
    color: var(--gray-white);
}

.element-title #text{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.element:hover .element-title{
    height: auto;
    border-top: 1px;
}

.element:hover #text{
    opacity: 1;
}

.element .board-view{
    width: 200%;
    z-index: 0;
    vertical-align: middle;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.element:hover .board-view{
    width: 180%;
    filter: blur(1px);
}

.element .element-edit{
    cursor: pointer;
    position: absolute;
    margin: 10px;
    font-size: 25px;
    color: var(--secondary);
    right: 0;
    bottom: 0;
}

.element .glyphicon{
    cursor: pointer;
}

a .element:hover{
    box-shadow: 0 6px 15px rgb(0,0,0);
}

.element .glyphicon-plus-sign{
    margin-top: 35px;
}

a{
    color: inherit;
    text-decoration: none !important;
}


/**loader elements***/

.loading-board{
    background: var(--primary);
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
}

.loading-board .wrapper{
    width: 100%;
    max-height: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
}

.loader-text{
    display: block;
    color: var(--gray-white);
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 0;
    opacity: 0;

    animation: slide-up 4s ease;
    animation-delay: 2s;
}

@keyframes slide-up {
    from{
        margin-top: 90px;
        opacity: 0;
    }
    to{
        margin-top: 40px;
        opacity: 0.1;
    }
    to{
        margin-top: 15px;;
        opacity: 0.75;
    }
    to{
        margin-top: 10px;;
        opacity: 0.95;
    }
    to{
        margin-top: 8px;;
        opacity: 1;
    }
    to{
        margin-top: 6px;
    }
    to{
        margin-top: 4px;
    }
    to{
        margin-top: 2px;
    }
    to{
        margin-top: 0;
    }
}

/****Pins-min list****/

.pins-block .element-pin{
    cursor: default;
    display: inline-block !important;
    position: relative;
    box-sizing: border-box;
    width: 220px;
    height: 220px;
    margin: 5px 7px;
    font-size: 140px;
    text-align: center;
    color: var(--primary-dark2);
}

.element-pin img{
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 0 6px 15px rgb(0,0,0);
    max-width: 220px;
    max-height: 220px;
    transition: all 0.3s ease-in-out;
}

.element-pin img:hover{
    box-shadow: 0 2px 5px 0 #000;
}

.element-pin img.wide{
    width: 100%;
}

.element-pin img.portrait{
    height: 100%;
}

.element-pin img.square{
    width: 100%;
}

@media only screen and (max-width: 960px) {
    .container{
        width: 90% !important;
        height: auto;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .container-box {
        width: 90% !important;
        text-align: center;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

/**showing all boards***/

#show-all-listener{
    display: block;
    position: relative;
    padding: 10px;
    bottom: 12px;
    cursor: pointer;
    float: right;
    font-size: 11px;
    letter-spacing: 3px;
    border: solid 1px;
    border-radius: 1px;
    opacity: 0.8;
    color: var(--gray-white);
}

#show-all-listener:hover{
    color: var(--main-white);
}
#sliding-wall{
    width: 100%;
    height: 100%;
    bottom: 100%;
    overflow-y: scroll;
    left: 0;
    display: block;
    padding: 15px;
    position: fixed;
    text-align: center;
    z-index: 999;
    background-color: var(--secondary);
    transition: all 1s;
}

#profile_background .title-secondary-boards{
    display: block;
    height: 40px;
    width: 80%;
    font-size: 24px;
    letter-spacing: 4px;
    color: var(--primary);
    margin: auto;
    margin-bottom: 30px;
}

#profile_background .title-secondary-pins{
    display: block;
    height: 40px;
    width: 80%;
    font-size: 24px;
    letter-spacing: 4px;
    color: var(--primary);
    margin: auto;
    margin-bottom: 30px;
}

#close-show{
    display: block;
    float: right;
    margin-right: 50px;
    font-size: 24px;
    color: var(--primary);
    font-weight: 600;
    cursor: pointer;
}

#sliding-wall .filter-buttons{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}

.filter-buttons .f-b-wrapper{
    cursor: pointer;
    display: inline-block;
    margin: 0 10vh;
    position: relative;
    border: solid 1px;
    padding: 5px;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--primary-light);
    opacity: 0.8;
}

.f-b-wrapper:hover{
    opacity: 1;
}

.filter-buttons .selected{
    background-color: var(--secondary-bright);
    opacity: 1;
}

.boards-wrapper{
    display: none;
}

#underline{
    display: block;
    content: '';
    border-bottom: solid 1px var(--primary);
    transform: scaleX(0);
}

#underline.expand{
    animation: exp 0.6s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes exp {
     from{
         transform: scaleX(0);
     }
     to{
         transform: scaleX(1);
     }
}

.container {
    width: 960px;
    text-align: left;
}

.boards-wrapper .container .element{
    box-shadow: 0 2px 5px rgba(0,0,0,0.8);
}

.element .element-edit{
    cursor: pointer;
    position: absolute;
    margin: 10px;
    font-size: 25px;
    color: var(--secondary);
    right: 0;
    bottom: 0;
}

.element .glyphicon{
    cursor: pointer;
}
.modal-dialog,
.modal-content {
    /* 80% of window height */
    /*height: 80%;*/
    margin-top: 10%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 320px);
    overflow-y: scroll;
}