
body{
    background-color: var(--primary);
    font-family: 'Quicksand', sans-serif;
}

:focus{
    outline: none;
}

:root{
    --primary: #231F20;
    --primary-light: #373334;
    --primary-dark1: #201D1E;
    --primary-dark2: #1A1718;

    --secondary: #DFBE6A;
    --secondary-bright: #DDB346;

    --main-white: #F7F7F7;
    --gray-white: #CBCBCB;
}

:root.monokai{
    --primary: #EDF2F4;
    --primary-light: #fff;
    --primary-dark1: #D8DCDE;
    --primary-dark2: #ADB1B2;

    --secondary: #EF233C;
    --secondary-bright: #D90429;

    --main-white: #8D99AE;
    --gray-white: #2B2D42;
}

:root.blue{
    --primary: #1C2541;
    --primary-light: #3A506B;
    --primary-dark1: #171F36;
    --primary-dark2: #0B132B;

    --secondary: #5BC0BE;
    --secondary-bright: #6FFFE9;

    --main-white: #E4FFFB;
    --gray-white: #96FFEF;
}

:root.teal{
    --primary: #F0F3BD;
    --primary-light: #FAFBEB;
    --primary-dark1: #C7C9A5;
    --primary-dark2: #C5C79B;

    --secondary: #00A896;
    --secondary-bright: #19C8A3;

    --main-white: #05668D;
    --gray-white: #028090;
}

:root.gray{
    --primary: #2E2E2E;
    --primary-light: #B3B3B3;
    --primary-dark1: #262626;
    --primary-dark2: #1E1E1E;

    --secondary: #66666E;
    --secondary-bright: #9999A1;

    --main-white: #D2D2D4;
    --gray-white: #f4f4f6;
}

#pinpin{
    width: 90%;
    margin: auto;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--main-white);
    text-align: center;
    font-size: 40px;
    opacity: 0.7;
    letter-spacing: 2px;
}

#pinpin .box{
    height: 55px;
    width: 150px;
    margin: auto;
    border-style: solid;
    border-width: 3px;
    border-color: var(--main-white);
}

.box a{
    text-decoration: none !important;
    font-size: inherit;
    color: inherit;
}

#nav-wrapper{
    width: 870px;
    height: 60px;
    text-align: center;
    margin: auto;
}

.nav{
    z-index: 99;
    opacity: 1;
    font-weight: 500;

    width: 870px;
    margin: 3px auto;
    margin-bottom: 40px;
    height: 45px;
    text-align: center;
    background-color: transparent;

    transition: all 0.3s ease-in-out;/*

    -webkit-animation: fadein 0.5s; !* Safari, Chrome and Opera > 12.1 *!
    -moz-animation: fadein 0.5s; !* Firefox < 16 *!
    -o-animation: fadein 0.5s; !* Opera < 12.1 *!*/
}

.nav.scrolled{
    position: fixed;
    background: var(--primary-dark2);
    width: 870px;
    border-radius: 2px;
    text-align: center;
    margin: auto;
    top: 1px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.nav .nav_elem{
    margin: 0 20px;
    padding: 10px 0;
    height: 20px;
    width: 70px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 4px;
    display: inline-block;
    list-style: none;
    border-top: solid 2px transparent;
    transition: all 0.1s ease-in-out;
    color: var(--gray-white);
}

@media only screen and (max-width: 900px){
    .nav.scrolled{
        height: 50px !important;
        width: 90%;
    }

    #nav-wrapper{
        height: auto;
        margin: auto !important;
        width: 90% !important;
        text-align: center;
    }

    .nav{
        width: 40%;
        height: auto !important;
        margin: auto !important;
        text-align: center !important;
    }

    .nav .nav_elem{
        width: 50px;
        margin: auto;
        margin-bottom: 5px !important;
        /*display: block !important;*/
    }

    .nav .nav_elem.search{
        width: 150px !important;
    }

    .nav .nav_elem.search .search_text{
        width: 100px !important;
    }
}

.nav .nav_elem:hover{
    border-top: solid 2px var(--secondary-bright);
    -webkit-transform: scale(1.1);
    background-color: var(--primary-dark1);
    color: var(--secondary);
}

.nav .nav_elem.search{
    padding: 5px;
    height: 20px;
    width: 300px;
    border: solid 1px var(--gray-white);
    border-radius: 1px;
    text-align: right;
}
.nav .nav_elem.search:hover{
    border: solid 1px var(--secondary);
    -webkit-transform: none;
}

.nav .nav_elem.search .search_text{
    background-color: transparent;
    color: var(--gray-white);
    width: 260px;
    height: 20px;
    margin-right: 5px;
    border: none;
}
.nav .nav_elem.search .search_text:focus{
    outline: none;
}

.nav_elem a:link{
    color: inherit;
    text-decoration: none !important;
    text-align: center;
}
.nav_elem a:visited{
    color: inherit;
    text-decoration: none !important;
}
.nav_elem a:hover{
    color: inherit;
    text-decoration: none !important;
}
.nav_elem a:active{
    color: inherit;
    text-decoration: none !important;
}

.nav_elem.active{
    background: var(--primary-dark2);
    color: var(--secondary);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.nav_elem.active:hover{
    border-top: solid 2px transparent;
}