#feed_background #filter{
    width: 70%;
    margin: auto;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 3%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 48.5%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}

.search-filter{
    cursor: pointer;
    display: block;
    margin: auto;
    width: 30%;
    text-align: center;
    padding:10px;
    font-size: 14px;
    letter-spacing: 2px;
    color: var(--main-white);
    border: solid 1px;
    transition: all 0.2s;
}

.search-filter.selected{
    background-color: var(--primary-dark2);
    color: var(--secondary);
}

.search-filter:hover{
    color: var(--secondary-bright);
}

.container .element{
    cursor: default;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    height: 220px;
    width: 220px;
    margin: 5px 7px;
    background-color: var(--primary-light);
    font-size: 140px;
    text-align: center;
    overflow: hidden;
    color: var(--primary-dark2);
    box-shadow: 0 2px 5px 0 #000;
    transition: all 0.3s ease-in-out;
}

.element .shadow-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--primary);
    transition: all 0.1s ease-in-out;
}

.element:hover .shadow-wrapper{
    opacity: 0.2;
}

.element-title{
    border-top: solid 10px rgba(0,0,0,0.4);
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    font-size: 18px;
    color: var(--gray-white);
}

.element-title #text{
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    padding: 10px;
    border: solid 2px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    word-wrap: break-word;
}
.element-title #text:hover{
    background-color: var(--primary-light);
}

.element:hover .element-title{
    height: auto;
    border-top: 1px;
}

.element:hover #text{
    opacity: 1;
}

.element .board-view{
    width: 200%;
    z-index: 0;
    vertical-align: middle;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.element:hover .board-view{
    width: 180%;
    filter: blur(1px);
}
