<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/pinform.css">
    <link rel="stylesheet" href="/stylesheets/loader.css">
    <style>
    </style>
</head>

<body>

<div ng-cloak class="pin-form">
	<div class="modal-header">
    	<br/>
	</div>
	<div class = "container-fluid">
        <span id="sub-heading"></span>
		<div class="row">
	   		<div class="col-md-12">
	            <img ng-src="<% pinURL %>" style="width: 100%; height: auto;">
	    	</div>
<!-- 	    	<div class="row">
	    		<div class="col-md-3"></div>
	    		<div class="col-md-6">
		    		<button class="pin-form-button" ng-click="close()">CLOSE</button>
		    	</div>
		    	<div class="col-md-3"></div>
            </div> -->
	    </div>
	</div>
</div>
</body>
</html>