<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/pinform.css">
    <style>
    </style>
</head>

<body>

<div ng-cloak class="view-pin">
    <div class="view-pin-close" ng-click="close()">X</div>
    <div id="edit-pin">Edit</div>
    <img ng-src="<% pinURL %>">
</div>
</body>

</html>