<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/pinform.css">
</head>

<body>

<div ng-cloak class="pin-form">
	<div class="modal-header">
    	New Pin<br/>
	</div>
	<div class = "container-fluid">
        <span id="sub-heading">Save from</span>
		<div class="row">
	   		<div class="col-md-6">
	   			<button class="pin-form-button" ng-click="addFromWeb()">
 					WEB
                </button>
	    	</div>
	    	<div class="col-md-6">
	    		<button class="pin-form-button" ng-click="addFromDevice()">
                    DEVICE
                </button>
	    	</div>
	    </div>
	</div>
</div>
</body>
</html>