<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/pinform.css">
    <link rel="stylesheet" href="/stylesheets/loader.css">
</head>

<body>

<span id="pin-from-device">
<div ng-cloak class = "pin-form">
	<div class="modal-header">
        Upload a Pin
	</div>
	<div class = "container-fluid" >
		<div class="row">
	   		<div class="col-md-12">
	   			<form>
                    <div class = "file-field" ng-show="!thumbnail.dataUrl && !loading">
                        <span class="glyphicon glyphicon-upload"></span>
                        <span class="hidden-field"><input type="file" name="pinFile" onchange="angular.element(this).scope().photoChosen(this.files)"></span>
                    </div>
                    <div class="form-loader" ng-show="loading && !thumbnail.dataUrl"><span class="loader"><span class="loader-inner"></span></span></div>
                    <div class="col-md-5">
                        <img class="pin-form-image" style="width:100%; height: auto;" ng-src="<% thumbnail.dataUrl %>" ng-show="!loading && thumbnail.dataUrl"/>
                        <textarea class="pin-form-textarea" cols="30" id="tags" name="description" rows="3" placeholder="Enter tags like this: #dog#puppy#canine" ng-show="thumbnail.dataUrl" ng-model="tags"></textarea>
	   				</div>
	   				<div class="col-md-7 form-boards-list" ng-show="thumbnail.dataUrl">
	   					<span id="my-boards">My Boards</span>
	   					<div class="row" ng-mouseenter="options=true" ng-mouseleave="options=false" ng-repeat="board in boards">
	   						<div class="col-md-12">
                                <span class="glyphicon glyphicon-book"></span>
		   						<span class="form-board-name"><%board.Name%></span>
	   							<button class="save-in-board" ng-show="options" ng-click="savePin(board)">Save</button>
	   						</div>
	   					</div>
	   				</div>
	   			</form>
	    	</div>
	    </div>
	</div>
</div>
</span>
</body>
</html>